<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style(link + "/css/default.css") }}
    {{ style(link + "/css/report.css") }}
    <title>Reporte de Ficha Escalafonaria</title>
</head>

<body>

    <div class="float-header" style="position: relative;">
        <table class="table">
            <thead>
                <tr>
                    <th width="10%"><img class="logo long" src="{{ link + '/images/peru.png' }}"></th>
                    <th>
                        <div class="f-9">"Año de la Universalización de la salud"</div>
                        <div class="uppercase f-14">{{ $entity.name }}</div>
                    </th>
                    <th width="10%"><img class="logo small" src="{{ $entity.logo }}"></th>
                </tr>
                <tr>
                    <td></td>
                    <td><hr class="hr-dashed"/></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="mark-water">
        <img src="{{ $entity.logo }}" alt="">
        <h2 class="uppercase mt-2" style="opacity: 0.3;">{{ $entity.name }}</h2>
    </div>

    <div class="code-qr">
        <img src="{{ code_qr }}" class="logo logo-mini">
    </div>

    <div id="content">
        <h1 class="text-center mt-3">
            <u>FICHA ESCALAFONARIA</u>
        </h1>
    
        <br><br><br>
    
        <div class="f-12 pl-4 pr-4">
            <p class="-parrafo">El que suscribe; </p>
            <p class="-parrafo text-right pl-4">Jefe de la Unidad de Recursos Humanos de la <span class="capitalize">{{ $entity.name }}</span> - {{ $entity.slug }} Certifica que; </p>
            <br>
            <br>
            <br>
    
            <h2 class="text-center">
                <i>
                    El {{ work.person && work.person.profession || "" }}
                    <span class="uppercase">{{ work.person && work.person.name }}</span>
                    <span class="uppercase">{{ work.person && work.person.ape_pat || "" }}</span>
                    <span class="uppercase">{{ work.person && work.person.ape_mat || "" }}</span>
                </i>
            </h2>
    
            <br><br>
    
            <div class="ml-4 mr-4 w-100">
                <p class="-parrafo">
                    Identificado con {{ work.person.document_type &&  work.person.document_type.name }}. Nº {{ work.person.document_number  }}, labora en esta Casa Superior de Estudios, según
                    el siguiente detalle en su condición de 
                    @each(active in infos_active) 
                    {{ active.information }} – {{ active.type_categoria }} <span class="lowercase">{{ active.pap }}</span>, <br>
                    @endeach
                    de acuerdo al siguiente:
                </p>
            </div>
    
            <br>
            <br>
            <br>
    
            <div class="ml-4 mr-4 w-100">
                <table class="table text-left uppercase">
                    <tbody>
                        <tr>
                            <td width="50%">APELLIDOS Y NOMBRES</td>
                            <td width="5%">:</td>
                            <td width="45%">{{ work && work.person && work.person.fullname || "" }}</td>
                        </tr>
                        <tr>
                            <td>DNI</td>
                            <td>:</td>
                            <td>{{ work && work.person && work.person.document_number || "" }}</td>
                        </tr>
                        <tr>
                            <td>SEXO</td>
                            <td>:</td>
                            <td>{{ work.person.gender || "" }}</td>
                        </tr>
                        <tr>
                            <td>ESTADO CIVIL</td>
                            <td>:</td>
                            <td>{{ work && work.person && work.person.marital_status ? marital_status[work.person.marital_status + "@" + work.person.gender] : "" }}</td>
                        </tr>
                        <tr>
                            <td>NATURAL DE</td>
                            <td>:</td>
                            <td>
                                <span> DEPARTAMENTO DE {{ work && work.person && work.person.badge && work.person.badge.departamento || "" }}</span>
                                <br> <span> PROVINCIA DE </span>
                                {{ work && work.person && work.person.badge && work.person.badge.provincia || "" }}
                                <br> <span> DISTRITO DE </span>
                                {{ work && work.person && work.person.badge && work.person.badge.distrito || "" }}
                            </td>
                        </tr>
                        <tr>
                            <td>FECHA DE NACIMIENTO</td>
                            <td>:</td>
                            <td>{{ work && work.person && work.person.date_of_birth ? moment(work.person.date_of_birth).format('LL') : '' }}</td>
                        </tr>
                        <tr>
                            <td>DIRECCIÓN</td>
                            <td>:</td>
                            <td>{{ work && work.person && work.person.address || "" }}</td>
                        </tr>
                        <tr>
                            <td>CODIGO ESCALAFONARIO</td>
                            <td>:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>AUTOGENERADO ESSALUD</td>
                            <td>:</td>
                            <td>{{ work && work.person && work.numero_de_essalud || "" }}</td>
                        </tr>
                        <tr>
                            <td>SISTEMA DE PENSIONES</td>
                            <td>:</td>
                            <td>{{ work && work.afp && work.afp.private ? 'AFP' : '' }} {{ work && work.afp && work.afp.afp || "" }}</td>
                        </tr>
                    </tbody>
                </table>
    
                <br>
    
                <table class="table text-left mb-5">
                    <tbody>
                        <tr>
                            <th colspan="2">
                                <u><b>CONTRATOS: </b></u>
                            </th>
                        </tr>
                        {{--  contratos  --}}
                        @each(info in infos)
                            <tr>
                                <th width="50%">NIVEL REMUNERATIVO</th>
                                <th witth="5%">:</th>
                                <td width="45%">{{ info.information }} - {{ info.type_categoria }}</td>
                            </tr>
                            <tr>
                                <th width="50%">DESDE</th>
                                <th witth="5%">:</th>
                                <td width="45%">{{ info.fecha_de_ingreso ? moment(info.fecha_de_ingreso).format('LL') : '' }}</td>
                            </tr>
                            <tr>
                                <th width="50%">HASTA</th>
                                <th witth="5%">:</th>
                                <td width="45%">{{ info.fecha_de_cese ? moment(info.fecha_de_cese).format('LL') : "" }}</td>
                            </tr>
                            <tr>
                                <th width="50%">DOCUMENTO ACREDITA</th>
                                <th witth="5%">:</th>
                                <td width="45%">{{ info.resolucion || "" }} {{ info.fecha_de_resolucion ? '(Fecha:' + info.fecha_de_resolucion + ")"  : "No hay documento" }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="pt-1"></div>
                                </td>
                            </tr>
                        @endeach
                    </tbody>
                </table>

                {{--  demeritos  --}}
                <h3 class="text-left mt-3">
                    <u>LICENCIAS</u>
                </h3>

                {{--  permisos  --}}
                <h3 class="text-left mt-3">
                    <u>PERMISOS</u>
                </h3>

                {{--  acensos  --}}
                <h3 class="text-left mt-3">
                    <u>ACENSOS</u>
                </h3>

                {{-- desplazamientos --}}
                <h3 class="text-left mt-3">
                    <u>DESPLAZAMIENTOS</u>
                </h3>

                {{--  demeritos  --}}
                <h3 class="text-left mt-3">
                    <u>SANCIONES, AMONESTACIONES Y OTROS DEMERITOS</u>
                </h3>

                {{--  meritos  --}}
                <h3 class="text-left mt-3">
                    <u>FELICITACIONES</u>
                </h3>
            </div>
        </div>
    </div>
</body>
</html>