<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style(link + "/css/default.css") }}
    {{ style(link + "/css/report.css") }}
    
    <style>
        body {
            width: auto;
        }
    </style>

    <title>Reporte de Licencias/Permisos</title>
</head>
<body>

    <div class="float-header" style="position: relative;">
        <table class="table">
            <thead>
                <tr>
                    <th width="10%"><img class="logo small" src="{{ link + '/images/peru.png' }}"></th>
                    <th>
                        <div class="f-9">"Año de la Universalización de la salud"</div>
                        <div class="uppercase f-13">{{ $entity.name }}</div>
                    </th>
                    <th width="10%"><img class="logo mini" src="{{ $entity.logo }}"></th>
                </tr>
                <tr>
                    <td></td>
                    <td><hr class="hr-dashed"/></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="mark-water" style="width: 100%;">
        <img src="{{ $entity.logo }}" style="width: 200px;">
        <h2 class="uppercase mt-2" style="opacity: 0.3;">{{ $entity.name }}</h2>
    </div>

    <div class="mt-3">

        <h4>Resultados: {{ licenses.length || 0 }}</h4>

        <br>

        <table class="table bbt-1 text-center">
            <thead>
                <tr>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">N°</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="25%">Apellidos y Nombres</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">Tipo</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">Documento</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">L/P</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">Resolución</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">F.Resolución</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">F.Inicio</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">F.Termino</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">Días Usados</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11" width="5%">¿Con goce?</th>
                    <th class="bbb-1 bbl-1 bbt-1 f-11 bbr-1" width="20%">Descripción</th>
                </tr>
            </thead>
            <tbody>
                @each((license, iter) in licenses)
                    <tr style="page-break-inside: avoid;">
                        <td class="bbb-1 bbl-1 f-10 text-text">{{ iter + 1 }}</td>
                        <td class="bbb-1 bbl-1 f-10 text-left capitalize pl-1">{{ license.person.fullname || "" }}</td>
                        <td class="bbb-1 bbl-1 f-10">{{ license.person.document_type.name || "" }}</td>
                        <td class="bbb-1 bbl-1 f-10">{{ license.person.document_number }}</td>
                        <td class="bbb-1 bbl-1 f-10">{{ license.situacion_laboral }}</td>
                        <td class="bbb-1 bbl-1 f-10">{{ license.resolution }}</td>
                        <th class="bbb-1 bbl-1 f-10">{{ license.date_resolution }}</th>
                        <td class="bbb-1 bbl-1 f-10">{{ license.date_start }}</td>
                        <td class="bbb-1 bbl-1 f-10">{{ license.date_over }}</td>
                        <td class="bbb-1 bbl-1 f-10">{{ license.days_used }}</td>
                        <td class="bbb-1 bbl-1 f-10">{{ license.is_pay  ? 'Si' : 'No'}}</td>
                        <td class="bbb-1 bbl-1 bbr-1 f-10">{{ license.description }}</td>
                    </tr>
                @endeach
            </tbody>
        </table>
    </div>
    
</body>
</html>