<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style(link + "/css/default.css") }}
    {{ style(link + "/css/report.css") }}
    <title>Reporte de Ficha Escalafonaria</title>
</head>

<body class="a4">

    <div class="float-header" style="position: relative;">
        <table class="table">
            <thead>
                <tr>
                    <th width="10%"><img class="logo small" src="{{ link + '/images/peru.png' }}"></th>
                    <th>
                        <div class="f-9">"Año de la Universalización de la salud"</div>
                        <div class="uppercase f-13">{{ $entity.name }}</div>
                    </th>
                    <th width="10%"><img class="logo mini" src="{{ $entity.logo }}"></th>
                </tr>
                <tr>
                    <td></td>
                    <td><hr class="hr-dashed"/></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>

    <h3 class="text-center mt-1 pt-1 uppercase f-15">REPORTE DE VACACIONES</h3>
    
    @each(data in datos)
        {{--  type work  --}}
        @if(data.key == 'WORK')
            <br/>
            <table class="table f-15" style="page-break-inside: avoid;">
                <thead>
                    <tr>
                        <th width="120px" class="text-left f-13">TRABAJADOR</th>
                        <td class="uppercase f-12">: {{ data.current.fullname || "" }}</td>
                    </tr>
                    <tr>
                        <th width="120px" class="text-left f-13">{{ data.current.document_type }}</th>
                        <td class="uppercase f-12">: {{ data.current.document_number || "" }}</td>
                    </tr>
                </thead>
            </table>
            <br/>
        @endif
        {{--  type vacation  --}}
        @if(data.key == 'VACATION')
            <table class="table f-12 bbt-1" style="page-break-inside: avoid;">
                <thead class="text-center">
                    <tr>
                        <th width="40px" class="bbb-1 bbl-1 f-13">
                            Año
                        </th>
                        <th width="200px" class="bbb-1 bbl-1 f-13">
                            Inicio
                        </th>
                        <th width="200px" class="bbb-1 bbl-1 f-13">
                            Termino
                        </th>
                        <th width="35px" colspan="2" class="bbb-1 bbl-1 f-13">
                            Dias Programados
                        </th>
                        <th width="200px" class="bbb-1 bbl-1 f-13">
                            Dias Ejecutados
                        </th>
                        <th width="50px" class="bbl-1 bbb-1 bbr-1 f-13">Saldo</th>
                    </tr>
                    <tr>
                        <td style="padding-top: 0.4em;" class="bbl-1 f-13">{{ data.current.year }}</td>
                        <td style="padding-top: 0.4em;" class="bbl-1 f-13">{{ data.current.date_start }}</td>
                        <td style="padding-top: 0.4em;" class="bbl-1 f-13">{{ data.current.date_over }}</td>
                        <td colspan="2" style="padding-top: 0.4em;" class="bbl-1 f-13">{{ data.current.scheduled_days }}</td>
                        <td style="padding-top: 0.4em;" class="bbl-1 f-13">{{ data.current.executed_days }}</td>
                        <td style="padding-top: 0.4em;" class="bbr-1 bbl-1 f-13">{{ data.current.balance }}</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td class="bbt-1"></td>
                        <td colspan="7" class="bbt-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="bbb-1"><div class="pt-2"></div></th>
                                    </tr>
                                    <tr>
                                        <th class="bbl-1 bbb-1 f-13">Inicio</th>
                                        <th class="bbl-1 bbb-1 f-13">Termino</th>
                                        <th class="bbl-1 bbb-1 f-13">Dias ejecut.</th>
                                        <th class="bbl-1 bbb-1 bbr-1 f-13" colspan="3">Resolución</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @each(vacation in data.current.vacations) 
                                        <tr>
                                            <td class="bbl-1 bbb-1 f-13">
                                                {{ vacation.date_start }}
                                            </td>
                                            <td class="bbl-1 bbb-1 f-13">
                                                {{ vacation.date_over }}
                                            </td>
                                            <td class="bbl-1 bbb-1 f-13">
                                                {{ vacation.days_used }}
                                            </td>
                                            <td class="bbl-1 bbb-1 bbr-1 f-13" width="300px">
                                                {{ vacation.resolucion }}
                                            </td>
                                        </tr>
                                    @endeach
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        @endif
    @endeach

</body>
</html>