/* header */

.float-header {
    position: fixed;
    top: 0px;
    left: 0px;
}


/* texto */
.parrafo {
    font-weight: 600;
}

/* marca de agua */
.mark-water {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    padding: 5.5em;
}

.mark-water img {
    object-fit: contain;
    object-position: center;
}

.pagebreak {
    display: block;
    page-break-before: always;
}

.code-qr {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/* imagenes */

.logo {
    object-fit: contain;
    object-position: center;
}

.logo.mini {
    width: 50px;
    max-height: 75px;
}

.logo.small {
    width: 75px;
    max-height: 100px;
}

.logo.long {
    width: 100px;
    max-height: 125px;
}
