/* header */

body {
    box-sizing: border-box;
    margin: 0.1em;
    width: 100vh;
    height: 100vh;
}

.float-header {
    position: fixed;
    top: 0px;
    left: 0px;
}

@page {
    width: 100vh;
    margin: 1em 1.5em;
    margin-bottom: 2em;
    box-sizing: border-box;
}


/* texto */
.parrafo {
    font-weight: 600;
}

/* marca de agua */
.mark-water {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    padding: 5.5em;
    opacity: 0.4;
    text-align: center;
}

.mark-water img {
    object-fit: contain;
    object-position: center;
    width: 450px;
    margin-top: auto;
    margin-left: auto;
}

.pagebreak {
    display: block;
    page-break-before: always;
}

.code-qr {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/* imagenes */

.logo {
    object-fit: contain;
    object-position: center;
}

.logo.mini {
    width: 50px;
    max-height: 75px;
}

.logo.small {
    width: 75px;
    max-height: 100px;
}

.logo.long {
    width: 100px;
    max-height: 125px;
}
